/* common css  */
body{
    font-family: 'Roboto', sans-serif;
}
.fa-twitter{
    color: #1da1f2;
    font-size: 25px;
    padding: 15px;
    margin-left:30px;
}
.fa-twitter:hover{
    background-color:rgba(232, 245, 254);
    padding: 15px;
    border-radius: 50px;
}

.left-s-t{
font-size: 20px;
font-weight: 700;
color: black;
padding: 10px 15px;
margin: 3px 0;
display: inline-block;

}
.left-s-t:hover{
background-color:rgba(232, 245, 254);
color: #1da1f2;
border-radius: 25px;

}
.right-s-h{
font-size: 20px;
font-weight: 900;
}
.right-s-t{
font-size: 15px;
font-weight: 700;
}
.right-s-d{
font-size: 13px;
font-weight: 400;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* main section  */

main{
    display: grid;
    grid-template-columns: 20% 48% 32%;
}

.tweet-btn{
    background-color: #1DA1F2;
    color: white;
    padding:10px 80px;
    display: inline-block;
    font-weight: 700;
    border-radius: 20px;
}
.tweet-btn:hover{
    background-color: #097ec7;
    color: white;
    
}
.middle{
    border-left: 1px solid rgba(128, 128, 128, 0.336);
    border-right: 1px solid rgba(128, 128, 128, 0.336);
}


/* right side css  */
.search{
    text-align: center;
    position: sticky;
    top: 0px;
    background-color: #fff;
    border-bottom: 2px solid white;
}
input[type="search"]{
    border: none;
    outline: none;
    background-color: #Eff3f4;
    display:block;
    padding:10px 50px;
    width: 100%;
    border-radius: 20px;
}
input[type="search"]:focus{
    border: 1px solid rgb(0, 132, 255);
}

.trends-section{
    background-color: #F7F9F9;
    padding: 5px;
    border-radius: 10px;
}
.r-hover:hover{
background-color: #EFF1F1;
}
.follow{
    border: 1px solid rgb(0, 132, 255);
    padding: 8px 20px;
    display: inline-block;
    border-radius: 20px;
}
.follow:hover{
   background-color:rgba(98, 156, 209, 0.384) ;
}


@media only screen and (max-width:1024px) {
    main{
        display: grid;
        grid-template-columns:repeat(1,1fr);

    } 
    
}